.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log


.github/
.vscode/
src/
.eslintrc
.prettierrc
jest.config.js
.gitignore
bundlesize.config.json
tsconfig.*